https://github.com/ROCmSoftwarePlatform/jax/releases/download/jaxlib-v0.4.23/jaxlib-0.4.23+rocm570-cp311-cp311-manylinux2014_x86_64.whl
https://github.com/ROCmSoftwarePlatform/jax/archive/refs/tags/jaxlib-v0.4.23.tar.gz
numpyro
